<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">PT-BR: Projeto desenvolvido para aplicar conhecimentos no frontend, utilizando a framework Angular. Inicialmente não temos interações com banco de dados, ou backend.</p>
            <p class="footer__about-text">
                EN: Project developed to apply knowledge on the frontend, using the Angular framework. Initially we have no interactions with the database, or backend.
            </p>
        </section>
        <address> 
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-brands fa-whatsapp"> </i>(71)99321-5696</li>
                <li><i class="fa-brands fa-linkedin"></i><a target="_blank" href="https://www.linkedin.com/in/heronsaba/"> heronsaba</a></li>
                <li><i class="fa-regular fa-envelope"></i> <a href="mailto:heronsaba.hs@gmail.com"> heronsaba.hs@gmail.com</a></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>